<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipelines in Templates</title>
</head>
<body>
{{.}}
{{. | fdbl}}
{{. | fdbl | fsquare}}
{{. | fdbl | fsquare | fsqrt}}
</body>
</html>