<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Formatting</title>
</head>
<body>
Date without formatting : {{.}}
Date with Formatting : {{fDateMDY .}}

{{. | fDateMDY }}
</body>
</html>