<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wisdom & Transport</title>
</head>
<body>
{{range .Wisdom}}
    {{uc .Name}}
{{end}}
{{range .Transport}}
    {{ft .Manufacturer}}
{{end}}
</body>
</html>